.bgContainer {
  min-height: 100vh;
  width: 100vw;
}
.firstContainer {
  background-image: url('https://assets.ccbp.in/frontend/react-js/music-playlist/music-playlist-Edsheeran-bg.png');
  background-size: cover;
  height: 45vh;
  width: 100vw;
  padding-left: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  color: white;
  font-family: 'Roboto';
  position: fixed;
}
.secondContainer {
  background-color: #152850;
  min-height: 100vh;
  width: 100vw;
  padding: 20px;
  padding-top: 50vh;
}
.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  color: white;
}
.search-container {
  display: flex;
  align-items: center;
  width: 300px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 4px 8px;
}

.input {
  flex-grow: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 8px;
  font-size: 16px;
  color: white;
}

.search-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 4px;
}

.search-icon {
  font-size: 15px;
  color: white;
  transition: color 0.3s ease;
}

.search-btn:hover .search-icon {
  color: #007bff;
}
ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.nosongsContainer {
  color: #ffffff;
  width: 100vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
}
